* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../public/assets/BG.png') no-repeat center center/cover;
}

form {
    width: 100%;
}


.wrap {
    height: auto;
    color: white;
    border: 2px solid rgba(255,255,255,0.2);
    background-color: rgba(40, 44, 51, 0.01);
    backdrop-filter: blur(20px);
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    opacity: 0.85;
}

.wrap h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.wrap2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrap2 h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.mail, .pass, .user {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: white;
    color: black;
    border-radius: 5px;
    outline: none;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background: #0b4f9e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.register-btn:hover {
    background: #0a3d7a;
}

p {
    margin: 20px 0;
    font-size: 14px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.social-buttons button:hover {
    background: #ddd;
}

.google-btn {
    background-color: #DB4437; 
    color: white;
}

.github-btn {
    background-color: #333; 
    color: white;
}

.facebook-btn {
    background-color: #4267B2;
    color: white;
}

.red {
    color: #FF4C4C;
}

.green {
    color: #00FF7F;
}